<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
       integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
       crossorigin="anonymous">
    <link rel="stylesheet" 
       href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <title>Talko</title>
  </head>
  <body>
    <div class="container py-5 px-4">
      <header class="text-center">
        <h1 class="display-4 text-white">🌮</h1>
      </header>
      <div class="row rounded-lg overflow-hidden shadow">
 
        <!-- Chats -->
        <div class="bg-white col-4 px-0">
          <div class="bg-gray px-4 py-2 bg-light">
            <p class="h5 mb-0 py-1">Recent</p>
          </div>
          <div class="chats-box"></div>
        </div>
        
        <div class="col-8 px-0"> 
          <!-- Messges -->
          <div class="px-3 pt-4 messages-box bg-white">
            <div class="list-group rounded-0"></div>
          </div>

          <!-- Typing area -->
          <div class="input-group bg-light">
            <input id="send-input" type="text" placeholder="Type a message" 
                class="form-control rounded-0 border-0 py-4 bg-light">
            <div class="input-group-append">
              <button id='send-message' type="submit" class="btn btn-link">
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="font-weight-light text-center text-muted text-tiny">
      Design by <a href="https://bootstrapious.com/">Bootstrapious</a>
    </div>
  </footer>

  <!-- Bootstrap javascript -->
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      window.userId_ = {{ user_id }};
      window.chatId_ = undefined;
      window.chats_ = [];
      window.messages_ = [];

      function timestampToDateTime(timestamp, include_time = true) {
        const dateTime = new Date(timestamp);
        let options = { month: 'long', day: 'numeric'};
        if (include_time) {
          options.hour = 'numeric';
          options.minute = 'numeric';
        }
        return dateTime.toLocaleDateString('us-ES', options)
      }

      function getUserAvatarText(userName) {
        text = "" 
        for (split of userName.split(" ")) {
          text += split[0]
        }
        return text
      }

      function getChatAvatarText(chat, userId) {
        if (chat.users.length > 2) {
          return `+${chat.users.length - 1}`;
        }
        for (user of chat.users) {
          if (user.user_id != window.userId_) {
            return getUserAvatarText(user.user_name);
          }
        }
      }

      function getChatTitle(chat) {
        if (chat.users.length > 2) {
          return chat.chat_title;
        }
        for (user of chat.users) {
          if (user.user_id != window.userId_) {
            return user.user_name;
          }
        }
      } 

      function getChats(userId) {
        return $.get(`/chats?user_id=${userId}`, {})
          .done(response => { 
            // TODO(eugenhotaj): We need more robust checking here, e.g.
            // that all the chat_ids are the same.
            if (response.chats.length == window.chats_.length) {
              return
            }

            window.chats_ = response.chats
            let html = "";
            for (chat of window.chats_) {
              html += `{% include "chat.html" %}`
            }
            $(".chats-box").html(html);
          });
      }

      function setMessagesHtml(messages) {
        // TODO(eugenhotaj): We need more robust checking here, e.g.
        // that all the message_ids are the same.
        if (messages.length == window.messages_.length) {
          return
        }

        window.messages_ = messages
        let html = "";
        for (message of window.messages_) {
          if (message.user.user_id === window.userId_) {
            html += `{% include "message_sent.html" %}`
          } else {
            html += `{% include "message_received.html" %}`
          }
        }
        $(".messages-box .list-group").html(html);
        $(".messages-box").scrollTop($(".messages-box .list-group")[0].scrollHeight);
      } 

      function getMessages(userId, chatId) {
        return $.get(`/messages?user_id=${userId}&chat_id=${chat_id}`, {})
                .done(response => { setMessagesHtml(response.messages); });
      }

      function poll() {
        setTimeout(() => {
          getMessages(window.userId_, window.chatId_);
          poll();
        }, 50);
      }

      // Load initial data.
      getChats(window.userId_)
        .done(response => {
          window.chatId_ = window.chatId_ || response.chats[0].chat_id;
          for (chat of response.chats) {
            if (chat.chat_id == window.chatId_) {
              setMessagesHtml(chat.messages);
              return 
            }
          }
        });

      // Attach listener.
      $("#send-message").click(() => {
        $.post('/messages', {
          "chat_id": window.chatId, "user_id": window.userId_, "message_text": $("#send-input").val()
        }).done(response => { setMessagesHtml(response.messages); })
        $("#send-input").val("");
      });
    });
  </script>
  </body>
</html>
