<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
       integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
       crossorigin="anonymous">
    <link rel="stylesheet" 
       href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <title>Talko</title>
  </head>
  <body>
    <div class="container py-5 px-4">
      <header class="text-center">
        <h1 class="display-4 text-white">🌮</h1>
      </header>
      <div class="row rounded-lg overflow-hidden shadow">
        <!-- Chats -->
        <div class="col-4 px-0">
          <div class="bg-white">
            <div class="bg-gray px-4 py-2 bg-light">
              <p class="h5 mb-0 py-1">Recent</p>
            </div>
            <div class="chats-box">
              <div class="list-group rounded-0">
                {% for chat in client.get_chats(user_id).chats %}
                <a class="list-group-item list-group-item-action active text-white rounded-0">
                  <div class="media">
                    <div class="avatar mt-2">
                      {{ chat_avatar_text(chat, user_id) }}
                    </div>
                    <div class="media-body ml-4">
                      <div class="d-flex align-items-center justify-content-between">
                        <h6 class="mb-0">{{ title(chat, user_id) }}</h6>
                        <small class="small font-weight-bold">
                          {{ chat.messages[-1].message_ts | date}}
                        </small>
                      </div>
                      <p class="font-italic mb-0 small">
                        {{ chat.messages[-1].message_text }}
                      </p>
                    </div>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <!-- Messages -->
        <div class="col-8 px-0">
          <div class="px-3 pt-4 messages-box bg-white">
            {% for message in client.get_messages(chat_id=1)['messages'] %}
            <div class="media">
              {% if message.user.user_id != user_id %}
              <div class="avatar py-2">{{ user_avatar_text(message.user) }}</div>
              <div class="media-body ml-3 d-flex align-items-start flex-column">
                <div class= "bg-light rounded p-2 wrap-text">
                  <p class="mb-0 text-muted rounded">{{ message.message_text }}</p>
              {% else  %}
              <div class="media-body ml-3 d-flex align-items-end flex-column">
                <div class= "bg-primary rounded p-2 wrap-text">
                  <p class="mb-0 text-white text-right rounded">{{ message.message_text }}</p>
              {% endif %}
                </div>
                <p class="small text-muted">{{ message.message_ts | datetime }}</p>
              </div>
            </div>
            {% endfor %}
          </div>

          <!-- Typing area -->
          <form action="#" class="bg-light">
            <div class="input-group">
              <input type="text" placeholder="Type a message" aria-describedby="button-addon2" 
                  class="form-control rounded-0 border-0 py-4 bg-light">
              <div class="input-group-append">
                <button id="button-addon2" type="submit" class="btn btn-link">
                  <i class="fa fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="font-weight-light text-center text-muted text-tiny">
      Design by <a href="https://bootstrapious.com/">Bootstrapious</a>
    </div>
  </footer>

  <!-- Bootstrap javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
    crossorigin="anonymous"></script>
  </body>
</html>
