<div class="list-group rounded-0">
  {% for message in messages %}
  <div class="media">
    {% if message.user.user_id != user_id %}
    <div class="avatar py-2">{{ user_avatar_text(message.user) }}</div>
    <div class="media-body ml-3 d-flex align-items-start flex-column">
      <div class= "bg-light rounded p-2 wrap-text">
        <p class="mb-0 text-muted rounded">{{ message.message_text }}</p>
    {% else  %}
    <div class="media-body ml-3 d-flex align-items-end flex-column">
      <div class= "bg-primary rounded p-2 wrap-text">
        <p class="mb-0 text-white text-right rounded">{{ message.message_text }}</p>
    {% endif %}
      </div>
      <p class="small text-muted">{{ message.message_ts | datetime }}</p>
    </div>
  </div>
  {% endfor %}
</div>

